 
 <div class="head">
       
  <div class="left">
    <a href="https://www.smartisan.com/" class="left-a">
    </a>
  </div>
  
    <div class="con">
      <ul>
        <li>
          <a href="">
            在线商城
          </a>
        </li>
        <li>
          <a href="">
            坚果 Pro 2S
          </a>
        </li>
        <li>
          <a href="">
            坚果 R1
          </a>
        </li>
        <li>
          <a href="">
            坚果 TNT 工作站
          </a>
        </li>
        <li>
          <a href="">
            Smartisan OS
          </a>
        </li>
        <li>
          <a href="">
            欢喜云
          </a>
        </li>
        <li>
          <a href="">
            应用
          </a>
        </li>
        <li>
          <a href="">
            论坛
          </a>
        </li>
        <li>
          <a href="">
            荣誉与奖项
          </a>
        </li>
      </ul>
    </div>

 
 



  <div class="right">
    <a href="" class="user">

    </a>
    <a href="" class="shopcar">

    </a>
    <div class="con_use">
      <div class="user_hie">
        <div class="uh_head">
          <i class="iconfont icon-touxiang-shi center-block"></i>
          <p class="phoneNum">+86 185****1950</p>
        </div>
        <ul>
          <li>
            <a href="">
              我的订单
            </a>
          </li>
          <li>
            <a href="">
              售后服务
            </a>
          </li>
          <li>
            <a href="">
              我的优惠
            </a>
          </li>
          <li>
            <a href="">
              账户资料
            </a>
          </li>
          <li>
            <a href="">
              收货地址
            </a>
          </li>
          <li>
            <a href="">
              推出
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="con_shop">
      <div class="shop">
        <div class="move">
          <p class="first">购物车为空</p>
          <p class="secd">您还没有选购任何商品，现在前往商城选购吧！</p>
        </div>
      </div>
    </div>
  </div>

 
</div>

  <div class="ban_con">
    <div class="container-fluid banner">
      <div class="row">
        <div class="container ban">
          <ul id="temp_ul">
          </ul>
          <div class="ban-right">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="bottom">
    <div class="qa">
      <div class="row">
        <ul>
          <li>
            <h3>订单服务</h3>
            <ul>
              <li>
                <a href="#">
                  购买指南
                </a></li>
              <li>
                <a href="#">
                  支付指南
                </a>
              </li>
              <li>
                <a href="#">
                  送货政策
                </a>
              </li>
            </ul>
          </li>
          <li>
            <h3>订单服务</h3>
            <ul>
              <li>
                <a href="#">
                  购买指南
                </a>
              </li>
              <li>
                <a href="#">
                  支付指南
                </a>
              </li>
              <li>
                <a href="#">
                  送货政策
                </a>
              </li>
            </ul>
          </li>
          <li>
            <h3>订单服务</h3>
            <ul>
              <li>
                <a href="#">
                  购买指南
                </a>
              </li>
              <li>
                <a href="#">
                  支付指南
                </a>
              </li>
              <li>
                <a href="#">
                  送货政策
                </a>
              </li>
            </ul>
          </li>
          <li>
            <h3>订单服务</h3>
            <ul>
              <li>
                <a href="#">
                  购买指南
                </a>
              </li>
              <li>
                <a href="#">
                  支付指南
                </a>
              </li>
              <li>
                <a href="#">
                  送货政策
                </a>
              </li>
            </ul>
          </li>
          <li>
            <h3>订单服务</h3>
            <ul>
              <li>
                <a href="#">
                  购买指南
                </a>
              </li>
              <li>
                <a href="#">
                  支付指南
                </a>
              </li>
              <li>
                <a href="#">
                  送货政策
                </a>
              </li>
            </ul>
          </li>
          <li>
            <h3>订单服务</h3>
            <ul>
              <li>
                <a href="#">
                  购买指南
                </a>
              </li>
              <li>
                <a href="#">
                  支付指南
                </a>
              </li>
              <li>
                <a href="#">
                  送货政策
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="bm_right">
          <ul>
            <li class="tel">
              400 - 626 - 5666
            </li>
            <li class="day">
              周一到周日 9:00 - 18:00
            </li>
            <li class="tel_ps">
              (仅收市话费)
            </li>
            <li class="help">
              <a href="#">
                在线帮助
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="row" >
        <p class="p1">
          Copyright © 2018, Smartisan Digital Co., Ltd. All Rights Reserved.
        </p>
        <p class="p2">
          京锤子数码科技有限公司
        </p>
        <ul>
          <li>
            <a href="#">
              法律声明
            </a>
          </li>
          <li>
            <a href="#">
              隐私条款
            </a>
          </li>
          <li>
            <a href="#">
              开发者中心
            </a>
          </li>
        </ul>
        <div>

        </div>

        <h4>
          <a href="#">
            <span>
              京 ICP 备 14041720 号 - 1
            </span>
            <span>
              京 ICP 证 140622 号
            </span>
            <span>
              京公网安备 11010502025474
            </span>
          </a>
          <a href="#">
            网络文化经营许可证京网文 (2016) 2284 - 266 号
          </a>
          <div class="lang">
            <a href="javascript:void(0);">
              中文
            </a>
          </div>
        </h4>

      </div>
    </div>




  </div>
