<div class="title">
    <div class="title-name">
      锤子应用
    </div>
    <div class="door">
      <a href="">全部应用 ></a>
    </div>
</div>
<ul>
  <li>
    <div class="content">
      <div class="app-image" >

      </div>
      <div class="info">
        <h6>HandShaker</h6>
        <p>
          <span>
            在 Mac 和 Windows 电脑上也可以方便自如地
          </span>
          <span>
            管理你在 Android 手机中的内容
          </span>
        </p>
      </div>
      <div class="logo">

      </div>
    </div>

    <div class="ophide">
        <div class="con-botton">
          <a href="">
            <span></span>
            <span>下载 Windows 版安装文件</span>
          </a>
          <a href="">
            <span></span>
            <span>下载 Mac 版安装文件</span>
          </a>
        </div>
       <a href="" class="jyb">
        进一步了解 HandShaker
       </a>
       
       <a href="" class="con-yjb">

       </a>
    </div>
    <a href="" class="link"></a>
  </li>
 
  <li>
    <div class="content">
      <div class="app-image" style="background-position: -189px 0">

      </div>
      <div class="info">
        <h6>锤子便签</h6>
        <p>
          <span>
            雅致的信纸、精心调整的文字排版
          </span>
          <span>
            这可能是最让人想写字的便签应用
          </span>
        </p>
      </div>
      <div class="logo">

      </div>
    </div>

    <div class="ophide">
        <div class="con-botton">
          <a href="">
            <span></span>
            <span>下载 Windows 版安装文件</span>
          </a>
          <a href="">
            <span></span>
            <span>下载 Mac 版安装文件</span>
          </a>
        </div>
       <a href="" class="jyb">
        进一步了解 HandShaker
       </a>
       
       <a href="" class="con-yjb">
         
       </a>
    </div>
    <a href="" class="link"></a>
  </li>
  <li>
    <div class="content">
      <div class="app-image" style="background-position: -285px 0;">

      </div>
      <div class="info">
        <h6>锤子阅读</h6>
        <p>
          <span>
            信息过载年代的干净阅读
          </span>
          <span>
           
          </span>
        </p>
      </div>
      <div class="logo">

      </div>
    </div>

    <div class="ophide">
        <div class="con-botton">
          <a href="">
            <span></span>
            <span>下载 Windows 版安装文件</span>
          </a>
          <a href="">
            <span></span>
            <span>下载 Mac 版安装文件</span>
          </a>
        </div>
       <a href="" class="jyb">
        进一步了解 HandShaker
       </a>
       
       <a href="" class="con-yjb">
         
       </a>
    </div>
    <a href="" class="link"></a>
  </li>
  <li>
    <div class="content">
      <div class="app-image" style="background-position: -375px 0;">
        
      </div>
      <div class="info">
        <h6>锤子科技论坛</h6>
        <p>
          <span>
            是一个科技论坛
          </span>
          <span>
            不只是科技论坛
          </span>
        </p>
      </div>
      <div class="logo">

      </div>
    </div>

    <div class="ophide">
        <div class="con-botton">
          <a href="">
            <span></span>
            <span>下载 Windows 版安装文件</span>
          </a>
          <a href="">
            <span></span>
            <span>下载 Mac 版安装文件</span>
          </a>
        </div>
       <a href="" class="jyb">
        进一步了解 HandShaker
       </a>
       
       <a href="" class="con-yjb">
         
       </a>
    </div>
    <a href="" class="link"></a>
  </li>
</ul>
</div>