
		*{
			margin: 0px;
			padding: 0px;
			font-family: "verdana";
		}
		input{
			
			border: none;
			outline:none;
		}
		.span-left{
			display: block;
			float: left;
			width:200px;
		}
		
		.bottom-line{
			border-bottom:2px solid darkgrey;
		}
		
		.box {
			width:1000px;
			margin: 20px auto;
			
		}
		.box .word {
			height: 100px;
			background:white;
		}
		.box .word .p1{
			font-size: 18px;
			line-height:27px;
			text-align: center;
		}
		.box .word .p2{
			font-size: 14px;
			line-height:18px;
			text-align: center;
		}
		/* word */
		
		
		.box .gender{
			height: 130px;
			line-height: 130px;
			background:white;
		}
		.box .gender img{
			vertical-align: middle;
			width:45px;
		}
		.box .gender img.img01{
			border : 2px solid #588290;
			border-radius:50%;
		}
		.box .gender img:hover{
			border : 10px solid #588290;
			border-radius:50%;
			cursor:pointer; /*???*/
		}
		/*gender*/
		
		.box .height-weight{
			height: 130px;
			line-height: 130px;
			background: white;
		}
		
		.box .height-weight .input01{
			width:50px;
			height: 50px;
			border:2px solid #588290;
			border-radius:5px;
			text-align: center;
		}
		.box .height-weight .input02{
			width:70px;
			height: 50px;
			border:1px solid #DDD;
			border-radius:5px;
			text-align: center;
		}
		.box .height-weight .input03{
			width:90px;
			height: 50px;
			border:1px solid #DDD;
			border-radius:5px;
			text-align: center;
		}
		
		.box .height-weight input:hover{
			border:5px solid #588290;
			border-radius:5px;
			
		}
		
		/*height-weight*/
		
		.box .family-hisitry{
			
			height: 170px;
			line-height:170px;
			background:white;
		}
		.box .family-hisitry .family-hisitry-right{
			float:right;
			width:800px;
			height: 170px;
			
		}
		
		.box .family-hisitry .family-hisitry-right .p1{
			line-height: 45px;
		}
		.box .family-hisitry .family-hisitry-right .p2{
			line-height: 30px;
		}
		.box .family-hisitry .family-hisitry-right .fhr-left{
			
			width:40px;
			height:40px;
			background:#4683BA;
			text-align: center;
			line-height: 40px;
			
			
			display: inline-block;/* ??? */
			color:white;
			border:1px solid #aaa;
			border-radius:3px;
			
		}
		.box .family-hisitry .family-hisitry-right  .question{
			line-height: 100px;
			height: 100px;
			
		}
		.box .family-hisitry .family-hisitry-right  .question .fhr-right{
			
			display: inline-block;
			width: 40px;
			height: 40px;
			border:1px solid aliceblue;
			border-radius:3px;
			line-height:40px;
			vertical-align: middle;
		}
		/*family-hisitry*/
		
		.activity-level{
			height:170px;
			background:white;
			line-height: 170px;
		}
		.activity-level .activity-level-right
		{
			float:right;
			width:800px;
			height: 170px;
			
		}
		.activity-level .activity-level-right .alr-top{
			height:44px;
			line-height:44px;
		}
		
		.activity-level .activity-level-right .alr-middle{
			height: 50px;
			line-height: 50px;
			padding-left: 56px;
			width: 465px;
		}
		.activity-level .activity-level-right .alr-middle img{
			vertical-align: middle;
		}
		
		.activity-level .activity-level-right .alr-middle .img02{
			float: right;
		}
		.activity-level .activity-level-right .alr-foot{
			height: 85px;
			line-height: 85px;
		}
		.activity-level .activity-level-right .alr-foot .alr-foot-box{
			height:85px;
			width:400px;
			float:left;
			display: table-cell;
			vertical-align: middle;
			
		}
		.activity-level .activity-level-right .alr-foot .alr-foot-box .alr-radio{
			width:35px;
			height:35px;
			border: 1px solid aliceblue;
			border-radius: 50%;
			margin-top:20px;
			float:left;
			margin-right: 20px;
		}
		.activity-level .activity-level-right .alr-foot .alr-foot-box .alr-radio-active{
			width:30px;
			height:30px;
			background:#4683BA ;
			padding: 5px;;
			background-clip: content-box;
		}
		
		.activity-level .activity-level-right .alr-foot .alr-foot-box .alr-radio:hover{
			width:30px;
			height:30px;
			background:#4683BA ;
			padding: 5px;;
			background-clip: content-box;
		}
		
		.activity-level .activity-level-right .alr-foot .alr-foot-box  p{
			height:22px;
			line-height: 22px;
			font-size:15px;
		}
		.activity-level .activity-level-right .alr-foot .alr-foot-box  p.m-top{
			margin-top:15px;
		}
		/*activity-level*/
		
		.diabetes{
			height:170px;
			background:white;
			line-height: 170px;
		}
		.diabetes .diabetes-right{
			float:right;
			width:800px;
			height: 170px;	
		}
		.diabetes .diabetes-right p{
			height: 80px;
			line-height: 80px;
		}
		.diabetes .diabetes-right .foot1{
			height:90px;
			width:800px;
			display: table-cell;
			float:right;
			
			
			vertical-align: middle;
			
		}
		.diabetes .diabetes-right .foot1 div{
			
			
			width:35px;
			height:35px;
			border: 1px solid aliceblue;
			border-radius: 50%;
			float:left;
			
		}
		.diabetes .diabetes-right .foot1 div:hover{
			width: 30px;
			height: 30px;
			background: #4683BA;
			background-clip: content-box;
			padding:5px ;
			
		}
		.diabetes .diabetes-right .foot1 p{
			height: 40px;
			line-height: 40px;
			width: 150px;
			float: left;
			margin-left: 30px;
		}
		.diabetes .diabetes-right .foot1 .rad01{
			width: 30px;
			height: 30px;
			background: #4683BA;
			background-clip: content-box;
			padding:5px ;
		}
		/*diabetes*/
		
		.pregnancy{
			height:170px;
			background:white;
			line-height: 170px;
		}
		.pregnancy .pregnancy-right{
			height:170px;
			float: right;
			width:800px;
		}
		.pregnancy .pregnancy-right p{
			height:44px;
			line-height: 44px;
		}
		.pregnancy .pregnancy-right p + p{
			height:44px;
			line-height: 44px;
			font-size: 12px;
		}
		.pregnancy .pregnancy-right{
			height: 82px;
			width: 800px;
			float:left;
		}
		.pregnancy .pregnancy-right div{
			float:left;
		}
		.pregnancy .pregnancy-right .pr-1{
			width:30px;
			height: 30px;
			background:#4683BA;
			background-clip:content-box;
			border:1px solid aliceblue;
			border-radius:50%;
			padding: 5px;
			margin-right:15px;
		}
		.pregnancy .pregnancy-right .pr-3{
			width:35px;
			height: 35px;
			border:1px solid aliceblue;
			border-radius:50%;
			margin-right:15px;
		}
		.pregnancy .pregnancy-right .pr-3:hover{
			width:30px;
			height: 30px;
			background:#4683BA;
			background-clip:content-box;
			border:1px solid aliceblue;
			border-radius:50%;
			padding: 5px;
		}
		.pregnancy .pregnancy-right .pr-2 p{
			height: 30px;
			line-height: 13px;
		}
		/*pregnancy*/
		
		.tijiao{
			margin: 50px auto;
			width: 300px;
			background: white;
		}
		.tijiao input{
			width:150px;
			height: 50px;
			background:#00ff00;
			border-radius: 50px;
		}
		.tijiao input:hover{
			width:150px;
			height: 50px;
			background:black;
			color:#00FF00;
			border-radius: 50px;
		}
	